.jobCard {
  height: fit-content;
  width: 350px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  font-family: "inter";
  position: relative;
  /* transition: transform 0.2s ease-in; */
}

.jobCard:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
}

.jobHeading {
  display: flex;
}

.jobHeadingText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 0;
  margin-left: 10px;
}

.jobCompany {
  color: #8b8b9a;
  font-weight: 600;
  font-size: 14px;
}

.jobRole {
  font-size: 15px;
  font-weight: 300;
}

.jobLocation {
  font-size: 12px;
  font-weight: 400;
}

.jobSalRange {
  font-size: 14px;
  font-weight: 300;
  color: #4d596a;
  margin-top: 5px;
}

.jobAbout {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.jobAboutExpanded {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.jobAboutTitle {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
}

.jobAboutUsTitle {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 600;
}

.jobAboutText {
  font-size: 13.5px;
  font-weight: 350;
  overflow-y: hidden;
  position: relative;
}

.jobAboutTextExpanded {
  font-size: 13.5px;
  font-weight: 350;
  position: relative;
}

.jobAboutText::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, white);
}

.jobAboutShowMore {
  color: #4943da;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto;
  position: relative;
  top: -10px;
  cursor: pointer;
}
.jobAboutShowLess {
  color: #4943da;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto;
  /* position: relative;
    top: -10px; */
  cursor: pointer;
}

.jobExp {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}

.jobExpTitle {
  color: #8b8b9a;
  font-size: 13px;
  font-weight: 500;
}
.jobMinExp {
  font-size: 13.5px;
  font-weight: 300;
}

.applyBtn {
  background-color: #54efc3;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* bottom: 10px; */
  top: 10px;
  width: calc(100%);
  gap: 4px;
  cursor: no-drop;
  margin-top: 3px;
}

.applyText {
  font-size: 16px;
  font-weight: 500;
}
