.jobs {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: masonry;
  gap: 50px;
  justify-content: center;
  padding: 0 170px;
}

.noJobsContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.noJobsImg {
  width: 300px;
  height: 550px;
  background: url(https://thumbs.dreamstime.com/b/small-gray-kitten-isolated-white-background-small-gray-kitten-137860832.jpg);
  background-position: center;
  background-size: cover;
}

.loadingImg {
  width: 300px;
  height: 550px;
  background: url(https://i.pinimg.com/originals/b0/29/02/b0290286e76b50dbdf1d4a028cdbc6d9.png);
  background-position: center;
  background-size: cover;
}

.noJobsText {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.415);
  position: relative;
  top: -20px;
}

@media screen and (max-width: 1180px) {
  .jobs {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 780px) {
  .jobs {
    grid-template-columns: 1fr;
  }
}
